h1{
    color: rgb(13, 14, 13);
}
body{
   background-color: rgb(178, 178, 183);
    
}

.heading{
    /*background-color: rgb(44, 41, 41);*/
    margin: 1% 0% 0% 0%;
    border-top-style: dotted;
    /* border-bottom-style: dotted; */
    border-color: rgb(20, 20, 20);
  
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0%;
    text-align: center;
    /*position: relative;*/
    background-color: rgb(90, 87, 84);
    /* background-image: url('images/b2.jpeg') ; */
    /* background-blend-mode:color ; */
   
}
.heading h1{
    text-transform:uppercase;
    text-decoration: underline;
    padding-bottom: 0%;
    font-size: 100px;
   
   
    
    
}
.heading p{
    padding-top: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
  
}


.image1{
    display: flex;
    
    /* box-sizing: border-box; */

}
.image2{
    display: flex;
    
    /* box-sizing: border-box; */
}

.i{
    display: inline;
    width: 33vw;
    height: 30vh;
}

.join{
    text-align: center;
}
footer{
    background-color: gray;
}

.f1{
   text-align: center;   

}
.f2 {
    display:flex;
    
}
.f2 a{
    display: inline;
    padding: 2% 5% 2% 5%;
    width: 33vw;
    height: 0vh;
    color: rgb(19, 19, 19);
}
footer h5{
    text-align: center;
}

.discribe{
    font-family: Arial, Helvetica, sans-serif;
}

.tel :hover{
    background-color: rgb(88, 8, 217);

}